In [1]:
import pandas as pd

In [2]:
df_tec = pd.read_csv('tec.csv')
df = pd.read_csv('clean.csv')

In [33]:
WS = 'Wind_speed'
EP = 'Electrical_power_[kW]'

def do_interpolation(lower_speed, lower_power, high_speed, high_power, speed):
    # code for interpolation goes here @Felix you might want to check this, I just did it off the top of my head
    return lower_power + (high_power - lower_power) * ((speed - lower_speed)/(high_speed - lower_speed))

def energy_for_speed(speed):
    upper = speed + 0.5
    lower = speed - 0.5
    data = df_tec[(df_tec[WS] <= upper) & (df_tec[WS] >= lower)]
    # 4 cases - 
    # 1. there are no values. in this case we will fill in 0 but probably you want to have something smarter
    if len(data) == 0:
        return 0
    # 2. there is 1 vale in which case it is the one we want to use
    if len(data) == 1:
        return data.iloc[0][EP]
    # 3, 4 either there are 3 values, in which case the middle one is the exact value, or there are 2 values and
    # we need to interpolate
    if len(data) > 2:
        return data.iloc[1][EP]
    else:
        low = data.iloc[0]
        lower_speed = low[WS]
        lower_power = low[EP]
        high = data.iloc[1]
        high_speed = high[WS]
        high_power = high[EP]
        return do_interpolation(lower_speed, lower_power, high_speed, high_power, speed)

In [34]:
df['interpolated'] = df['speed'].apply(energy_for_speed)

In [39]:
df

                 TIMESTAMP  interpolated  speed
0      2017-07-01 00:00:00         45.68   4.36
1      2017-06-30 23:50:00          5.04   3.68
2      2017-06-30 23:40:00         59.06   4.51
3      2017-06-30 23:30:00        101.46   4.91
4      2017-06-30 23:20:00         37.76   4.27
5      2017-06-30 23:10:00          0.00   3.20
6      2017-06-30 23:00:00          0.00   3.22
7      2017-06-30 22:50:00          0.00   2.81
8      2017-06-30 22:40:00          0.00   2.67
9      2017-06-30 22:30:00          0.00   1.82
10     2017-06-30 22:20:00          0.00   2.22
11     2017-06-30 22:10:00          0.00   1.87
12     2017-06-30 22:00:00          0.00   1.76
13     2017-06-30 21:50:00          0.00   1.76
14     2017-06-30 21:40:00          0.00   1.64
15     2017-06-30 21:30:00          0.00   0.90
16     2017-06-30 21:20:00          0.00   1.58
17     2017-06-30 21:10:00          0.00   1.95
18     2017-06-30 21:00:00          0.00   2.45
19     2017-06-30 20:50:00          0.00   3.22
20     2017-06-30 20:40:00          7.00   3.75
21     2017-06-30 20:30:00          0.00   2.78
22     2017-06-30 20:20:00          0.00   2.60
23     2017-06-30 20:10:00          0.00   2.24
24     2017-06-30 20:00:00          0.00   1.86
25     2017-06-30 19:50:00          0.00   2.31
26     2017-06-30 19:40:00          0.00   2.29
27     2017-06-30 19:30:00          0.00   2.27
28     2017-06-30 19:20:00          0.00   2.50
29     2017-06-30 19:10:00          0.00   2.59
...                    ...           ...    ...
52530  2016-07-01 05:00:00       1535.32  10.36
52531  2016-07-01 04:50:00       1428.20  10.10
52532  2016-07-01 04:40:00       1356.28   9.92
52533  2016-07-01 04:30:00       1218.04   9.56
52534  2016-07-01 04:20:00       1360.12   9.93
52535  2016-07-01 04:10:00       1142.08   9.36
52536  2016-07-01 04:00:00       1337.08   9.87
52537  2016-07-01 03:50:00       1047.58   9.11
52538  2016-07-01 03:40:00       1424.08  10.09
52539  2016-07-01 03:30:00       1387.00  10.00
52540  2016-07-01 03:20:00       1237.24   9.61
52541  2016-07-01 03:10:00       1032.46   9.07
52542  2016-07-01 03:00:00       1387.00  10.00
52543  2016-07-01 02:50:00       1123.18   9.31
52544  2016-07-01 02:40:00       1391.12  10.01
52545  2016-07-01 02:30:00       1055.14   9.13
52546  2016-07-01 02:20:00        749.88   8.22
52547  2016-07-01 02:10:00       1123.18   9.31
52548  2016-07-01 02:00:00        544.48   7.48
52549  2016-07-01 01:50:00       1062.70   9.15
52550  2016-07-01 01:40:00        988.90   8.95
52551  2016-07-01 01:30:00       1130.74   9.33
52552  2016-07-01 01:20:00       1237.24   9.61
52553  2016-07-01 01:10:00       1157.20   9.40
52554  2016-07-01 01:00:00       1621.80  10.58
52555  2016-07-01 00:50:00       1302.52   9.78
52556  2016-07-01 00:40:00        825.88   8.47
52557  2016-07-01 00:30:00        889.72   8.66
52558  2016-07-01 00:20:00        749.88   8.22
52559  2016-07-01 00:10:00        174.52   5.51

[52560 rows x 3 columns]